@charset "utf-8";
/* CSS Document */

/* highlight.js的设置 */
code {
	font-family: Consolas;
	tab-size: 4;
}
.hljs {
	background-color: rgba(255,255,255,0.70);
	text-indent: 1cm;
	border-style: solid;
	border-color: rgba(146,146,146,0.50);
	border-width: thick;
}
pre {
	padding-left: 2%;
	padding-right: 2%;
}

/* 复制按钮样式 */
button {
	background-color: rgba(15,120,217,1.00);
	color: white;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 2px;
	transition: 0.5s;
}
button:hover {
	background-color: rgba(58,158,229,1.00);
}
button:focus {
	outline: none;
}

/* 文章版面设置 */
#content #mainContent #article {
	/* Author info section */
	background-color: rgba(255,255,255,0.70);
	border-radius: 5px;
}
#content #mainContent #article p {
	color: rgba(0,0,0,1.00);
	padding-left: 2%;
	font-family: '微软雅黑';
	font-weight: 400;
	font-size: 120%;
}
#content #mainContent #article h2, h3, h4 {
	padding-left: 2%;
}
#content #mainContent #article a {
	color: rgba(15,120,217,1.00);
}
#content #mainContent #article a:hover {
	text-decoration: none;
}
#content #mainContent #article h3 {
	transition: 0.5s;
	display: inline;
}
#content #mainContent #article h3:hover {
	color: rgba(48,177,188,1.00);
}
#content #mainContent #article h4 {
	color: rgba(86,51,203,1.00);
}
#content #mainContent #article a:hover {
	color: rgba(45,183,139,1.00);
}
#mainwrapper #content #sidebar {
	margin-top: 170px;
}
.team-member {
	display: inline-block;
	padding-left: 2%;
	text-align: center;
	transition: 0.3s;
}
.team-member:hover {
	transform: translate(0px, -5px);
}
.team-member:hover .team-username {
	box-shadow: 5px 5px 5px gray;
}
.team-member:hover .team-realname {
	box-shadow: 5px 5px 5px gray;
}
.team-username {
	background-color: rgba(54,173,231,1.00);
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 1px 1px 5px gray;
	width: 110%;
	transition: 0.3s;
}
.team-realname {
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 5px gray;
	width: 110%;
	transition: 0.3s;
}
.team-operator {
	background-color: rgba(227,79,102,1.00);
}


/* 文章列表版面设置 */
#article-list aside {
	border-radius: 5px;
}
#article-list aside ul h2 li a {
	text-decoration: none;
	color: rgba(15,120,217,1.00);
	font-weight: bold;
	transition: 0.5s;
}
#article-list aside ul h2 li a:hover {
	color: rgba(23,101,159,1.00);
}
#content #mainContent #article-list aside {
	background-color: rgba(255,255,255,0.70);
}
#content #mainContent #article-list aside p, a {
	color: rgba(22,86,185,1.00);
	font-weight: bold;
	transition: 0.5s;
}
#content #mainContent #article-list aside a:hover {
	color: rgba(42,204,212,1.00);
	text-decoration: none;
}
#content #mainContent #article-list aside h3,
#content #mainContent #article-list aside p {
	text-indent: 1cm;
}


/* 使用类似markdown的html格式对象 */
/* 6种标题 */
.h1 {
	font-size: 28px !important;
}
.h2 {
	font-size: 24px !important;
}
.h3 {
	font-size: 20px !important;
}
.h4 {
	font-size: 28px !important;
}
.h5 {
	font-size: 24px !important;
}
.h6 {
	font-size: 16px !important;
}

/* 删除线 */
.del {
	text-decoration: line-through;
}

/* 粗体 */
.bold {
	font-weight: bold;
}

/* 颜色对象 */
.aqua {
	color: aqua !important;
}
.black {
	color: black !important;
}
.blue {
	color: blue !important;
}
.fuchsia {
	color: fuchsia !important;
}
.gray {
	color: gray !important;
}
.green {
	color: green !important;
}
.lime {
	color: lime !important;
}
.maroon {
	color: maroon !important;
}
.navy {
	color: navy !important;
}
.olive {
	color: olive !important;
}
.orange {
	color: orange !important;
}
.purple {
	color: purple !important;
}
.red {
	color: red !important;
}
.silver {
	color: silver !important;
}
.teal {
	color: teal !important;
}
.white {
	color: white !important;
}
.yellow {
	color: yellow !important;
}
.lightblue {
	color: rgba(15,120,217,1.00) !important;
}

/* 仿照萌娘百科的黑幕效果 */
.heimu {
	background-color: black;
	color: black;
	transition: 0.3s;
}
.heimu:hover {
	color: white;
}
