@charset "UTF-8";
body {
	background-color: #FFF;
	/* background-image: url(../images/background.jpg); */
	background-image: url(https://s1.ax1x.com/2018/02/25/9w99XR.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	background-size: cover
}
#mainwrapper header {
	/*Header */
	background-color: rgba(255,255,255,0.00);
	overflow: hidden;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 50px;
	transition: 0.5s;
	left: 0px;
	top: 0px;
}
#mainwrapper header:hover {
	background-color: rgba(255,255,255,0.90);
	overflow: visible;
}
#mainwrapper header #logo {
	/* Company Logo text */
	width: 28%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgba(15,120,217,1.00);
	font-weight: bolder;
}
#mainwrapper header #logo a {
	/* Company Logo text */
	color: rgba(15,120,217,1.00);
	text-decoration: none;
	transition: 0.5s;
}
#mainwrapper header:hover #logo a {
	font-size: 120%;
}
#mainwrapper header:hover #logo a:hover {
	color: rgba(106,237,191,1.00);
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	text-align: right;
	/* padding-top: 12px; */
	padding-bottom: 12px;
	padding-right: 2%;
	width: 68%;
	float: right;
	color: rgba(15,120,217,1.00);
	font-weight: bold;
}
header nav a {
	/* Links in header */
	padding-right: 2%;
	color: rgba(255,255,255,0.00);
	text-decoration: none;
	transition: 0.5s;
}
header:hover nav a {
	color: rgba(15,120,217,1.00);
}
#mainwrapper header .popup-button {
	text-align: center;
	color: rgba(15,120,217,0.00);
	overflow: hidden;
	background-color: rgba(255,255,255,0.00);
	border-radius: 5px;
	float: right;
	width: 120px;
	height: 50px;
	padding-top: 12px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
#mainwrapper header:hover .popup-button {
	color: rgba(15,120,217,1.00);
}
#mainwrapper header:hover .popup-button:hover {
	background-color: rgba(255,255,255,1.00);
	transition: 0.5s;
	height: auto;
}
#mainwrapper header:hover .popup-button .popup-item {
	color: rgba(15,120,217,0.00);
}
#mainwrapper header:hover .popup-button:hover .popup-item {
	color: rgba(15,120,217,1.00);
	transition: 0.5s;
}
#mainwrapper header:hover .popup-button:hover .popup-item:hover {
	color: rgba(106,237,191,1.00);
	font-size: 120%;
}
#content #mainContent h1 {
	/* Styling for main headings */
	color: rgba(15,120,217,1.00);
	font-family: "cooper-black-std";
}
#content #mainContent h2 {
	color: rgba(15,120,217,1.00);
}
#content #mainContent h3 {
	/*Captions ot Taglines */
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(15,120,217,1.00);
	font-weight: bold;
}
#content #mainContent #bannerImage {
	/*Container for main banner image */
	width: 100%;
	background-color: rgba(208,207,207,0.00);
}
#content #mainContent #bannerImage img {
	border-radius: 5px;
	transition: 0.5s;
}
#content #mainContent #bannerImage img:hover {
	transform: scale(1.02,1.02);
}
#content #mainContent p {
	/* All paragraphs under maincontent */
	color: rgba(255,255,255,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	text-align: justify;
}
#content #mainContent #authorInfo {
	/* Author info section */
	background-color: rgba(255,255,255,0.70);
	border-radius: 5px;
}
#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	color: rgba(15,120,217,1.00);
	padding-left: 2%;
	padding-top: 11px;
}
#content #mainContent #authorInfo p {
	color: rgba(15,120,217,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
	font-weight: bold;
}
#content #mainContent #authorInfo p a {
	color: rgba(15,120,255,1.00);
	text-decoration: underline;
	transition: 0.5s;
}
#content #mainContent #authorInfo p a:hover {
	color: rgba(45,183,139,1.00);
}
footer article {
	/* Footer articles */
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(255,255,255,1.00);
}
footer article h3 {
	/* Footer article titles */
	text-align: center;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}
#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	width: 19%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: rgba(255,255,255,0.70);
	margin-top: 150px;
	padding-top: 32px;
	border-radius: 5px;
	position: relative;
	top: 5px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: hidden;
	margin-left: 10%;
}
#content #sidebar input {
	/* Search box in sidebar */
	width: 98%;
	height: 32px;
}
#content #sidebar #adimage {
	/* Container for Image in sidebar */
	width: 100%;
	background-color: rgba(208,207,207,0.00);
	margin-top: 46px;
	float: none;
	overflow: auto;
	border-radius: 10px;
	transition: 0.5s;
}
#content #sidebar #adimage:hover {
	transform: scale(1.02,1.02);
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(15,120,217,1.00);
	text-decoration: none;
	transition: 0.5s;
}
nav ul li a:hover {
	color: rgba(45,183,139,1.00);
}
#hitokoto {
	width: 19%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: rgba(255,255,255,0.70);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}
#hitokoto .hitokoto-title {
	text-align: left;
}
#hitokoto .hitokoto-text {
	text-align: center;
	transition: 0.5s;
}
#hitokoto .hitokoto-from {
	text-align: right;
	font-size: 95%;
	color: dimgray;
	transition: 0.5s;
}
#hitokoto .hitokoto-change {
	background-color: rgba(15,120,217,1.00);
	color: white;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 2px;
	transition: 0.5s;
	float: right;
	margin-top: 3%;
}
#hitokoto .hitokoto-change:hover {
	background-color: rgba(58,158,229,1.00);
}
#hitokoto .hitokoto-change:focus {
	outline: none;
}
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#hitokoto .hitokoto-change i:before {
	display: inline-block;
	transition: 0.5s;
}
#hitokoto .hitokoto-change:hover i:before {
	animation: rotating 1.2s linear infinite;
}
#footerbar {
	/* Footer bar at the bottom of the page */
	height: auto;
	clear: both;
	background-color: rgba(208,207,207,0.00);
	color: rgba(255,255,255,1.00);
	text-align: center;
	width: 100%;
}
#footerbar a {
	color: rgba(255,255,255,1.00);
	transition: 0.5s;
}
#footerbar a:hover {
	color: rgba(15,120,217,1.00);
	text-decoration: none;
}
footer {
	/* Container for footer artices */
	width: 71%;
	padding-left: 2%;
	padding-right: 2%;
}
.notOnDesktop {
	/*element to be displayed only in mobile view and tabet view */
	display: none;
}
#mainContent #bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#sidebar #adimage img {
	/* Image in sidebar */
	width: 100%;
	float: left;
}
.scroll-line {
	height: 3px;
	width: 0%;
	top: 0px;
	left: 0px;
	background-color: rgba(44,217,102,1.00);
	position: fixed;
	z-index: 6;
	transition: 1.0s;
}

/* Tablet view */
@media screen and (max-width:769px) {
.notOnDesktop {
	/* Search box shown only in mobile view and Tablet view */
	display: block;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 96%;
}
#content .notOnDesktop input {
	height: 28px;
}
#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}
#sidebar input {
	/* Search box in sidebar */
	display: none;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	float: none;
	width: 92%;
	padding-top: 13px;
	overflow: auto;
	margin-top: 3px;
	margin-left: 2%;
	padding-bottom: 13px;
}
#content #sidebar #adimage {
	/* Image in sidebar */
	width: 60%;
	margin-top: 0px;
	float: left;
}
#content #sidebar nav {
	/* Navigation links in sidebar */
	width: 36%;
	float: left;
	padding-left: 4%;
}
#sidebar nav ul {
	margin-top: 0px;
}
footer {
	/* Footer region */
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
#content footer article {
	/*Each footer article */
	width: 46%;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}
#hitokoto {
	width: 92%;
	float: none;
	margin-left: 2%;
}
}

/* Mobile view */
@media screen and (max-width:480px) {
#mainwrapper header #logo {
	/* Company Logo text in header */
	width: 96%;
	margin-left: 2%;
}
#mainwrapper header nav {
	/*navigation links in header */
	text-align: center;
	background-color: rgba(255,255,255,0.00);
	width: 98%;
}
#content #sidebar #adimage {
	/* Container for image in sidebar */
	width: 100%;
}
#content #sidebar nav {
	/* Navigation bar for links in sidebar */
	width: 96%;
	padding-top: 7px;
}
#sidebar nav ul li {
	display: inline-block;
	width: 32%;
	text-align: center;
}
#mainwrapper #content #sidebar {
	/* sidebar */
	padding-bottom: 0px;
}
#content .notOnDesktop {
	/* Search box shown only in mobile and tablet view */
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 50px;
}
#content .notOnDesktop input {
	width: 80%;
	text-align: center;
}
#content #mainContent h3 {
	/* Title under maincontent, if any */
	font-size: 14px;
}
#content footer article {
	/* Each foter article */
	width: 96%;
}
#hitokoto {
	width: 92%;
	float: none;
	margin-left: 2%;
}
}

